<template>
<node
        grid_column="start(1)"
        grid_row="start(2)"
        width="100%"
        display="flex"
        flex_direction="column"
        border="2px"
        border_color="#999"
        border_radius="5px"
        padding="8px"
        background="#333a"
        justify_content="space_between"
    >
    <node id="input_group" display="flex" flex_direction="column">
        <node
                id="title"
                display="flex"
                flex_direction="column"
                border="0 0 2px 0"
                border_color="#fffc"
            >
            <node>
                <text font_size="14px">Simulation settings</text>
            </node>
            <node padding="5px" margin="0 5px">
                <text
                        font_color="#ffaa00"
                    >WARNING: Setting these values too high may crash the game, or even your computer!</text>
            </node>
        </node>
        <slider_input
                name="sim_size"
                text_name="sim_size_text"
                slider_name="sim_size_slider"
                default_value="32"
                unit="px"
                text="Simulation size"
            />
        <slider_input
                name="sim_speed"
                text_name="sim_speed_text"
                slider_name="sim_speed_slider"
                default_value="5"
                unit="fps"
                text="Simulation speed"
            />
        <slider_input
                name="sim_steps"
                text_name="sim_steps_text"
                slider_name="sim_steps_slider"
                default_value="500"
                initial_position="0.5"
                text="Steps per turn"
            />
        <node
                border="0 0 1px 0"
                border_color="#ffffff33"
                border="0 0 1px 0"
                display="flex"
                flex_direction="column"
                padding="5px"
                margin="0 5px"
            >
            <text font_size="12px" margin="0 8px 0 0">Layout</text>
            <select name="layout_select">
                <option value="Random" />
                <option value="50/50 Vertical" />
                <option value="50/50 Horizontal" />
                <option value="50/50 Random" />
                <option value="Empty" />
            </select>
        </node>
    </node>
    <node display="flex" justify_content="center" justify_self="end">
        <settings_button text="Apply" on_press="apply_settings" />
    </node>
</node>
</template>
