<template>
<node
        grid_column="start(1)"
        grid_row="start(2)"
        width="100%"
        height="100%"
        display="flex"
        flex_direction="column"
        border="1px"
        border_color="#000"
    >
    <slider_input
            name="sim_size"
            text_name="sim_size_text"
            slider_name="sim_size_slider"
            placeholder="32px"
            text="Simulation size"
        />
    <slider_input
            name="sim_speed"
            text_name="sim_speed_text"
            slider_name="sim_speed_slider"
            placeholder="5fps"
            text="Simulation speed
!!Warning: Setting this too high might crash the app or your whole session!!"
        />
    <button on_press="apply_settings">
        <text>Apply</text>
    </button>
</node>
</template>
